:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */

  --primaryColor: #141414;
  --secondaryColor: #e9e7ee;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
  color: var(--primaryColor);
  background-color: #e0e0e0;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

nav {
  padding: 16px 32px;
  border-radius: 8px;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

main {
  padding: 16px 32px;
}

img {
  width: 100%;
}
