.feed-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feed-container li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
}

.feed-container li .header {
  display: flex;
  gap: 8px;
}

.feed-container li .header .author {
  font-weight: bold;
}

.feed-container li .header .date {
  color: var(--secondaryColor);
}

.feed-container li .header .date::before {
  content: " ";
}

.feed-container li .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feed-container li .footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feed-container li .footer .reactions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.feed-container li .footer .reactions > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
