.feed-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feed-container li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
}

.feed-container li .header {
  display: flex;
  gap: 8px;
}

.feed-container li .header .author {
  font-weight: bold;
}

.feed-container li .header .date {
  color: var(--secondaryColor);
}

.feed-container li .header .date::before {
  content: " ";
}

.feed-container li .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feed-container li .footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feed-container li .footer .reactions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.feed-container li .footer .reactions button {
  color: var(--secondaryColor);
  box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
}

.feed-container li .footer .comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feed-container li .footer .comments li {
  box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
}

.feed-container li .footer .comments input {
  box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
}
